# Ignorar archivos de compilación
/build/

# Ignorar archivos de dependencias
/node_modules/

# Ignorar archivos temporales
/tmp/

# Ignorar archivos de configuración local
/.env

# Ignorar archivos de logs
*.log

# Ignorar archivos de sistema
.DS_Store
Thumbs.db