.homepage-searchbar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 520px;
  margin: 0 0 8px 0;
}
.homepage-container {
  margin-top: 1.5rem;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
}
.homepage-content {
  flex: 0 0 auto;
}
